<div class="row">
    <div id='stallsBar' class='icon-bar four-up'>
        <a class='item'>
            <img class='browseIcon' src='/img/icons/near.png'>
            <label>Near</label>
        </a>
        <a class='item'>
            <img class='browseIcon' src='/img/icons/male.png'>
            <label>Men's Stalls</label>
        </a>
        <a class='item'>
            <img class='browseIcon' src='/img/icons/male.png'>
            <label>Women's Stalls</label>
        </a>
        <a class='item'>
            <img class='browseIcon' src='/img/icons/all.png'>
            <label>All Stalls</label>
        </a>
    </div>
</div>
