<div class="row">
    <div class='icon-bar four-up'>
        <a class='item'>
            <img src='/img/icons/all.png'>
            <label>All Stalls</label>
        </a>
        <a class='item'>
                <img src='/img/icons/all.png'>
            <label>All Stalls</label>
        </a>
        <a class='item'>
                <img src='/img/icons/all.png'>
            <label>All Stalls</label>
        </a>
        <a class='item'>
                <img src='/img/icons/all.png'>
            <label>All Stalls</label>
        </a>
    </div>
</div>
