<div class="row">
    <div id='stallsBar' class='icon-bar three-up' ng-class="filter">
        <a class='item all-item' ng-click="setFilter('all')" style="height: 112px;">
            <img class='browseIcon' src='img/icons/all.png'>
            <label>&nbsp&nbsp All &nbsp&nbsp Stalls</label>
        </a>
        <a class='item men-item' ng-click="setFilter('male')" style="height: 112px;">
            <img class='browseIcon' src='img/icons/male.png'>
            <label>Men's Stalls</label>
        </a>
        <a class='item women-item' ng-click="setFilter('female')">
            <img class='browseIcon' src='img/icons/female.png'>
            <label>Women's Stalls</label>
        </a>
    </div>
</div>
<div class="row">
    <div ng-include src="'partials/StallsTemplate.html'">
    </div>
</div>
