
<div data-ng-app="compose" class="ng-scope">
<div data-ng-controller="ComposeController" data-ng-init="init()">

	<div id="composePage" class="row">
		<h2>Compose your <span class="shitty">(Shitty)</span> Message</h2>
		<input type="text" ng-model="author" class="composeInputAuthor" placeholder="Your Name" />
		<textarea ng-model="text" class="composeInputText" placeholder="Enter your message!"></textarea>
		<a href="" class="button" data-ng-click="toggleCanvas()">Draw an Image!</a>
		<a href="" class="button" data-ng-click="submitMessage()">Post!</a>
	</div>
	<div id="canvas-container" data-ng-show="showCanvas"class="row">
		<center>
		<canvas id="canvas" height="325px" width="325px">
		</canvas>

		<div id="colorPicker">
			<a href="" class="button" id="red" data-ng-click="selectColor(1)"></a>
			<a href="" class="button" id="orange" data-ng-click="selectColor(2)"></a>
			<a href="" class="button" id="yellow" data-ng-click="selectColor(3)"></a>
			<a href="" class="button" id="green" data-ng-click="selectColor(4)"></a>
			<a href="" class="button" id="blue" data-ng-click="selectColor(5)"></a>
			<a href="" class="button" id="purple" data-ng-click="selectColor(6)"></a>
			<a href="" class="button" id="brown" data-ng-click="selectColor(7)"></a>
			<a href="" class="button" id="black" data-ng-click="selectColor(0)"></a>
			<a href="" class="button" class="closeCanvasButton" data-ng-click="toggleCanvas()">Back to Compose</a>
		</div>
		</center>
	</div>

</div>
</div>