<!doctype html>
<html>
    <head>
        <link rel='stylesheet' type='text/css' href='../css/main.css'>
        <link rel='stylesheet' type='text/css' href='../lib/foundation/css/foundation.css'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src='../lib/foundation/js/foundation.min.js'></script>
    </head>
    <body>
        <div class='container'>
            <div class='row'>
                <div class='small-6 small-centered columns'>
                    <div class='content'>
                        <div class='row'>
                            <div class='tempImg'>BROWN LOGS LOGO</div>
                        </div>
                        <div class='row'>
                            <a href='#' class='button expand'>Go to Stall</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
