<div class="postsContainer">
  <div class="row">
    <div class="small-12 columns">
      <h2>Posts</h2>
    </div>
  </div>
	<div class="post" ng-repeat="post in posts" ng-class-even="'evenPost'">
    <div ng-swipe-left="votePost(post, 'downvote')"
         ng-swipe-right="votePost(post, 'upvote')">
  		<div class="post-content" >
        <p class="postText">{{post.text}}</p>
    		<p class="author">{{post.author}}</p>
    		<p class="date">{{post.date}}</p>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <div class="post-button-bar clearfix" 
               ng-class="post.voteStatus">
            <div class="upvote-btn" ng-click="votePost(post, 'upvote')">
              [Y]
            </div>
            <div class="downvote-btn" ng-click="votePost(post, 'downvote')">
              [N]
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>