<div id="stallProfileContainer">
	<div class="row">
		<div class="small-12 small-centered columns">
			<h1>{{stallName}}</h1>
		</div>
	</div>
	<div class="post">
		<div class="stallInfo">
			<div class="row">
				<div class="small-12 small-centered columns text-center">
					<img src="{{stallImage}}" alt="Staff Profile Picture" class="staffProfilePicture" />
				</div>
			</div>

			<div class="row">
				<div class="small-12 columns">
					<p class="stallDescription">{{stallFloor}}</p>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns ratingBar">
						<p>What people think: <span class="ratingDesc">{{ratingDesc}}</span>&nbsp;<span class="ratingNum">{{ratingNum}}/5</span></p>				
					</div>
			</div>
		</div>

		<div ng-include src="'partials/PostsTemplate.html'">

		</div>
		
		<div id="postBar" ng-show="scrollingUp">
			<input type="text" class="writePostInput" placeholder="Write a post" />
			<a href="#/draw" class="button tiny canvasLinkButton">+</a>
			<input type="submit" class="submitPost button tiny" value="&gt;" />
		</div>
	</div>
</div>