<div id="stallsContainer">
	<div class="stall clearfix" ng-repeat="stall in stalls" ng-click="goToStall(stall)">
    <div class="stallPicture"><img src="{{stall.pictureUrl}}" width="95px"></div>
    <div class="rightStall">
        <div class="stallName"> {{stall.name}} </div>
        <div class="stallBuilding"><strong>Building:</strong> {{stall.building}} </div>
        <div class="stallFloor"><strong>Floor:</strong> {{stall.floor}} </div>
        <div class="stallGender"> Gender: {{stall.gender}} </div>
        <div class="stallRating"> Rating: {{stall.rating}} </div>
    </div>
    <div class="stallPostsCount">
        <div class="stallCount"> {{stall.msgCount}} posts</div>
    </div>
	</div>
</div>
