<div id="stallProfileContainer">
	<div class="row">
		<div class="small-12 small-centered columns">
			<h1 class="stallName">{{stallName}}</h1>
		</div>
	</div>
	<div class="post">
		<div class="stallInfo">
			<div class="row">
					<img class="stallImage" src="{{stallImage}}" alt="Stall Profile Picture" class="stallProfilePicture" />
			</div>

			<div class="row">
                <center>
					<div class="stallDescription">
						<h3>Building: {{stallBuilding}}, Floor {{stallFloor}}</h3>
						{{stallGender}} bathroom
					</div>
                    <p>Stall Rating: <span class="ratingNum">{{ratingNum}}/5 : </span>&nbsp;<span class="ratingDesc">{{ratingDesc}}</span></p>				
                </center>
			</div>
		</div>

		<div ng-include src="'partials/PostsTemplate.html'">

		</div>

		<div id="postBar" ng-show="scrollingUp">
			<div class="row">
					<a href="#/stall/{{stallID}}/compose" type="submit" class="submitPost button expand">Add A Post</a>
			</div>
		</div>
	</div>
</div>
