#stallsBar {
    position:fixed;
    top:40px;
    z-index: 1000;
}

#stallsContainer {
  margin-top: 11rem;

}

#stallsContainer .stall {
  border-bottom: 1px solid lightgrey;
  padding: 1rem;
  clear: both;
}

#stallsBar .item * {
  color: #AAA;

}

#stallsBar .item img{
  opacity: .6;
}

#stallsBar.all .all-item *{
  color: #FFF;
}
#stallsBar.all .all-item label{
  border-bottom: 2px solid #AAA;
}
#stallsBar.all .all-item img{
  opacity: 1;
}

#stallsBar.male .men-item *{
  color: #FFF;
}
#stallsBar.male .men-item label{
  border-bottom: 2px solid #AAA;
}
#stallsBar.male .men-item img{
  opacity: 1;
}

#stallsBar.female .women-item *{
  color: #FFF;
}
#stallsBar.female .women-item label{
  border-bottom: 2px solid #AAA;
}
#stallsBar.female .women-item img{
  opacity: 1;
}

#stallsBar .item {
  padding: 1.25rem 1rem;
}