#black {
	background-color: #000000;
}

#red {
	background-color: #ff0000;
}

#orange {
	background-color: #ff6600;
}

#yellow {
	background-color: #fff44f;
}

#green {
	background-color: #009900;
}

#blue {
	background-color: #094ecd;
}

#purple {
	background-color: #5731cc;
}

#brown {
	background-color: #5e2e0d;
}

canvas {
	background-color: #fff;
	margin-bottom: 20px;
}

#canvas-container {
	background-color: #fcfbe3;
	position: absolute;
	top: 3rem;
	margin-bottom: 4rem;
	padding: 2rem;
}

.button {
	border-style: none;
	padding: 1rem !important;
}