
#composePage{
	position: absolute;
	top: 20%;
	padding: 2rem;
}

.shitty{
	color: #3A1F0A;
}
.composeInputText{
	height: 10rem;
}

#black {
	background-color: #000000;
}

#red {
	background-color: #ff0000;
}

#orange {
	background-color: #ff6600;
}

#yellow {
	background-color: #fff44f;
}

#green {
	background-color: #009900;
}

#blue {
	background-color: #094ecd;
}

#purple {
	background-color: #5731cc;
}

#brown {
	background-color: #5e2e0d;
}

#eraser {
	width: 2.5rem;
	margin-bottom: 5px;
}

canvas {
	background-color: #fff;
	margin-bottom: 20px;
}

#canvas-container {
	background-color: #fcfbe3;
	position: absolute;
	top: 3rem;
	margin-bottom: 0rem;
	padding: 0rem;
}

.button {
	border-style: none;
	padding: 1rem !important;
    width: 49%;
}
