/* stallprofile.css */

#stallProfileContainer {
	position: absolute;
	top: 3rem;
	margin-bottom: 4rem;
}
#stallProfileContainer .stallInfo{
	position: relative;
}
#stallProfileContainer .stallInfo p{
	padding: 0.4rem;
	font-size: 0.8rem;
}
#stallProfileContainer .post{
	position: relative;
	width: 100%;
	border-bottom: 1px solid #333;
	padding-bottom: 1rem;
}
#stallProfileContainer .post h2{
}
#stallProfileContainer .post-content{
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}
#stallProfileContainer .postText{
	margin: 0;
    padding: 0;
}
#stallProfileContainer .author, #stallProfileContainer .date{
	color: #888;
}

#stallProfileContainer #postBar.ng-hide-add,
#stallProfileContainer #postBar.ng-hide-remove{
  transition: all 0.5s ease-out;
}
#stallProfileContainer #postBar{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-top: 1rem;
	margin: 0;
	text-align: center;
	background-color: #BFA789;
	transition: all 0.5s ease-in;
}
#stallProfileContainer .ratingBar{
	font-style: italic;
}
#stallProfileContainer .ratingDesc{
	font-weight: bold;
}
#stallProfileContainer .ratingNum{
	font-weight: bold;
}
#stallProfileContainer #postBar .writePostInput{
	width: 60%;
	display: inline-block;
}

#stallProfileContainer .post-button-bar {
  height: 2rem;
}

#stallProfileContainer .likeIcon,.dislikeIcon {
    width: 40px;
    opacity: .5;
	margin: 0;
}

#stallProfileContainer .upvote .likeIcon {
    opacity: 1;
	margin: 0;
}

#stallProfileContainer .downvote .likeIcon {
    opacity: .2;
}

#stallProfileContainer .downvote .dislikeIcon {
    opacity: 1;
}

#stallProfileContainer .upvote .dislikeIcon {
    opacity: .2;
}

#stallProfileContainer .stallImage {
    width: 100%;
    height: 100%;
}
